@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
footer{
    color: white;
    padding: 2em;
}

.fa-cart-shopping{
    animation-name: gelatine 0.5s infinite;
}
/* navbar */
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav1 {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.80);
    justify-content: space-between;
    position: sticky;
}
#nav2{
    display: none;
}

#navLinks {
    width: 27%;
    min-width: 350px;
    align-items: center;

}

#navLinks ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    text-align: center;
}

#navLinks ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#navLinks ul li a {
    text-decoration: none;
    color: #CDCCCC;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#navLinks ul li:hover {
    background-color: white;
}

#navAccList {
    position: absolute;
    padding: 2em;
    width: 12em;
    height: 10em;
    right: 0;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2em;
    color: #CDCCCC;
    display: none;

}

#navAccList li {
    list-style: none;
    padding: .5em;
}
#navAccList li a, #navAccList li a:visited {
    text-decoration: none;
    color: #CDCCCC;
}
#navAccList li:hover {
    background-color: #363636;
}

#navAccList :nth-child(2) {
    border-top: 2px rgba(0, 0, 0, 0.605) solid;
    border-bottom: 2px rgba(0, 0, 0, 0.605) solid;
}


/* landing page */
#landing {
    height: 100vh;
    background-image: url('../IMAGES/landingBg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 80%;

}

.rad-shadow {
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 77%);
}

/* the cards */
.landingContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.cardContainer {
    width: 45%;
    padding: 2em;
}

.landingCardTemplate {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 50%, rgba(255, 255, 255, 0.800) 70%);
    margin: 0 auto;
    width: 60%;
    height: 35em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em 0 1em 1em;
    box-shadow: 0 4px 54px rgba(0, 0, 0, 0.25);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);

}
.mobile-landing-heading, .mobile-landing-brands{
    display: none;
}
.LCTcard1 {
    display: none;
}

.LCTcard2 {
    display: none;
}

.LCTRow1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.LCTRow1 img{
    width:50%;
}

.tester {
    display: flex;
    /* width: 5%; */

}

h1.stoked {
    margin-left: -50px;
    margin-right: -50px;
    transform: rotate(90deg);
    /* height: 33px; */
    flex-basis: 33px;
    color: white;
    font-size: 6ch;
    text-shadow: 0 4px 11px rgba(0, 0, 0, 0.448);

}

.LCTRow2 {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0 1em 0;
}

.LCTRow3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.LCTbtn {
    margin: 0 auto;
    width: 50%;
    min-width: 160px;
    font-weight: 600;
    font-size: 2ch;
    padding: .5em;
    border-radius: 5px;
    border: none;
    background-color: #4BCAD4;
    color: white;
}

.landingTitle {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingBrowse {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: uppercase;

}

.landingBrowseTemplate {
    padding: 2em;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.641) 20%, rgba(0, 0, 0, 0.022) 100%);

}

.galleryCard {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.galleryCard img {
    width: 90%;
}

/* products section styling */
#products {
    min-height: 100vh;
    display: flex;
}

.offscreen-filter {
    width: 3em;
    height: 3em;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: none;
    position: absolute;
    top: 15em;
    background-color: #82d496;
}

#prodFilter {
    width: 0%;
    background-color: #82d49658;
    min-height: 100vh;
    /* display: none; */

}

.filter-row {
    display: flex;
    flex-direction: row;
}

.FRow1 {
    /* align-items: center; */
    /* justify-content: center; */
    width: 90%;
    margin: 0 auto;

    justify-content: space-around;
}

i {
    padding: 1em;
}

.filter-form {
    padding-left: 2em;
}

.filter-form form button {
    padding: 1em;
    border: none;
    background-color: #82d496;
    margin: 10px;
    width: 100%;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minMax(250px, 1fr));
    background-color: black;
    padding: 1em;
    gap: 1em;
    border: 1px white solid;
    color: #A6A3A3;
}

.grid-item {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-evenly;
    height: 100%;
}

.gridRow1,
.gridRow3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gridRow1 img {
    width: 11em;
}

.gridRow2 {
    margin: 0 auto;
    padding-left: 1em;

}

.grid-btns {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

.grid-btns button {
    border: 1px solid white;
    color: white;
    font-weight: 600;
    background-color: #0012FF;
    padding: 1em;
}

.grid-btn-vm {
    width: 30%;
}

.grid-btn-atc {
    flex-basis: 1;
}

/*cart page styling */

#cart {
    background-color: #020315;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-header {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 1em;

}

.cart-column {
    display: flex;
    flex-direction: column;
}

.cart-row,
.cart-card,
.cart-modal-row {
    display: flex;
    flex-direction: row;
}

.cart-modal-row {
    justify-content: space-between;
}

.cart-card {
    width: 100%;
    border-bottom: #4BCAD4 1px solid;
    padding: 0 5em;
    justify-content: space-between;
    align-items: center;
}

.cart-total {
    position: absolute;
    bottom: 0;
    width: 80%;
    justify-content: space-between;
    padding: 2em;
}

.cart-total button {
    background-color: #4BCAD4;
    padding: 1em;
    border-radius: 2em;
}

.cart-card-info {
    padding-left: 2em;
}

.cart-upDwn {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1em;
}


/* about section */
#about{
    height: 100vh;
    color: white;
    font-family: "Roboto", sans-serif;
    

}
.about-row{
    display: flex;
    flex-direction: row;
}
.about-left-section{
    width: 60%;
    height: 100vh;
    background-image: url(../IMAGES/about-background.jpg);
    background-size: cover;
    background-position-x: -300px;
}
.about-right-section{
    background-color: black;
    width: 40%;
    height: 100vh;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.right-section-header{
    font-weight: 900;
    font-size: 3ch;
}
.right-section-content{
    font-weight: 400;
    flex-basis: 1;
    padding: 1em 0 0 1em;
}
.right-section-content> *{
    padding: .7em;
    font-size: 2ch;
}

.about-sec1{
    font-size: 1.5em;
    padding: 2em;
    color: #202020;
    height: 60vh;
    color: #e1e5f7;
    background-image: url('/IMAGES/about-sec1.avif');
    background-size: cover;
    background-position-y: 70%;
    text-shadow: 1px 3px 3px rgba(10, 0, 41, 0.513);
    text-align: center;
    font-weight: 600;
    margin: 1em;
    border-radius: 1em;
    overflow-y: scroll;
}
.about-sec1 > p {
    padding: 1.5em;
}

.about-sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/IMAGES/about-sustainability.jpg');
    background-size: cover;
    background-position-y: 50% ;
    height: 70vh;
    padding: 1.5em;
    font-size: 2ch;
    font-weight: 800;
margin: 1em;
border-radius: 1em;
}



/* borders for my grid */
.grid-item::before {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-block-start: 0;
    inset-inline-start: calc(var(--line-offset) * -1);
}





/* admin styling */
#admin{
    background-color: #202020;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5ch;
}

table{
    width: 80%;
    background-color: white;
    margin: 0 auto;
}
th{
    background-color: #2020205a;
}
td{
    border-left: 2px solid black;
    padding: .5em;
}

.custom-modal{
float: left;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.197);
position: absolute;
top: 0;
margin: 0;

}
#contact{
    background-image: url('../IMAGES/about-background.jpg');
    height: 100vh;
    background-size: cover;

}
.contact-template{
    background-color: rgba(255, 255, 255, 0.542);
    width: 60%;
    padding: 10em;
    border-radius: 2em;
    margin: 0 auto;
}
form{
    width: 80%;
}

/* card animations */
@keyframes disappear {
    from {
        transform: translateX(0px);
        opacity: 100%;
    }

    to {
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes appear {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 100%;
    }
}
@keyframes turn {
    from {
        transform: rotate3d(0,0,0, 90deg)
    }

    to {
        transform: rotate3d(0,1,0, 90deg);
    }
}
@keyframes turn {
    from {
        transform: rotate3d(0,0,0, 90deg)
    }

    to {
        transform: rotate3d(0,1,0, 90deg);
    }
}
@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

/* media queries */
/* landing */
@media screen and (max-width:768px) {
    .about-left-section{
        background-position-x:70% ;
    }
    .about-left-section, .about-right-section{
        width: 50%;

    }
    .offscreen-filter{
        border-radius: 50%;
    }
}


@media screen and (max-width:950px) {
    .cardContainer{
        height:30em;
    padding: 0;  }
        .landingCardTemplate{
            width: 100%;
            height: 100%;
    
        }
        .LCTRow1{
            justify-content: center;
        }
        #landing{
            height: 100%;
        }
        .rad-shadow{
            height: 100%;
        }
        .landingContainer{
            height: 100%;
        }
        .landingTitle{
            height: 100%;
        }
        .landingBrowse{
            height: 100%;
        }
        .LCTRow1 img{
            width: 40%;
            height: 100%;
        }
        h1.stoked{
            display: none;
        }
        .LCTRow2 h3{
            font-size: 1em;
        }
}
/* mobile landing */
@media screen and (max-width:550px) {
    #nav1{
        display: none;}
    #nav2{
        display: block;
    }
    #landing{
        background-size: cover;
        background-position-x:50% ;
    }
    .landingContainer{
        flex-direction: column;
    }
    .mobile-landing-heading{
        display: block;
        margin-top: 150px;
        color: white;
        font-size: 30px;
        padding: 0  0 0 1em;
 
    }
    .mobile-landing-heading a h1{
        font-weight: 800;
    }
    .mobile-landing-heading a{
        text-decoration: none;
        color: white;
        
    }
    .mobile-landing-heading a:visited{
        text-decoration: none;
        color: white;
    }
    .mobile-landing-brands{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .mobile-landing-brands img{
        width: 120px;
        padding: 1.8em;
    }

    .cardContainer{
        width:18em;
        height:25em;
        position: absolute;
        top:30%;


    }
    .landingCardTemplate{
        width: 110%;
        height: 100%;

    }
    .LCTRow1{
        justify-content: center;
    }
    .LCTRow1 img{
        width: 80px;
        height: 100%;
    }
    h1.stoked{
        display: none;
    }
    .LCTRow2 h3{
        font-size: 1em;
    }
    .landingBrowse{
        display: none;
    }
    .landingTitle{
        display: none;
    }

}
