*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.80);
    justify-content: space-between;
    padding: 1em;
}
#navLinks{
     width: 30%;
    align-items: center;
}
#navLinks ul{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
#navLinks ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#navLinks ul li a{
   text-decoration: none;
   padding: 1em;
   text-transform: uppercase;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}